@import url("https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700");
@import "reset";
@import "grid";
$zomp: #2e9598;
$orange-yellow: #f7db69;
$orange: #f26a44;
$red: #ec1b4b;
$purple: #a8216b;

body {
  font-size: 16px;
  overflow: auto;
}

.NavBar {
  display: flex;
  justify-content: flex-start;
  width: 100%;
  background-color: $zomp;

    .nav-link{
      color: $orange-yellow !important;
    }
    .nav-link:hover{
      background-color: $purple;
      border: 2px solid $orange-yellow;
      box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

    }

}

.navbar-toggler{
  border-color: $purple;

}

.current{
  background-color: $orange-yellow;
  border: 2px solid $purple;
  color: $purple;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.Footer{
  display: flex;
  justify-content: space-around;
  width: 100%;
  background-color: $zomp;
  .nav-link{
    color: $orange-yellow !important;
  }
  .nav-link:hover{
    background-color: $purple;
    border: 2px solid $orange-yellow;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

  }
}

.HomePage {

}

.AboutPage {

  .title{
    margin-top: 100px;
    color: black;
  }
}

.ContactPage{

}

.AppPage {

}
.SignUpPage{
  margin-top: 100px;
  .signup-form{
    margin-top: 50px;
  }
}

.LoginPage{
  .login-form{
    margin-top: 50px;
  }
}
.btn{
  background-color: $purple !important;
  border-color: $purple !important;
}
.btn:hover{
  background-color: $orange !important;
  border-color: $orange !important;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  // color: $purple !important
}

.form-div{
  margin-top: 100px;
  display: block;
  text-align: center;
  .form-signin {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }

}

.login-div{
  display: block;
  text-align: center;
    .form-signin {
      display: inline-block;
      margin-left: auto;
      margin-right: auto;
      text-align: center;
    }
}

  .signup-div{
    margin-top: 5px;
    display: block;
    text-align: center;


}
.component-container{
  margin: 50px 0 50px 0;
}

.active{
  background-color: $purple;
}
.carousel-inner{
  margin-top: 100px;
}
