@import url("https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700");
@import "reset";
@import "grid";
$zomp: #2e9598;
$orange-yellow: #f7db69;
$orange: #f26a44;
$red: #ec1b4b;
$purple: #a8216b;

body {
  font-size: 16px;
  overflow: auto;
}

.NavBar-default {
  display: flex;
  justify-content: flex-start;
  width: 100%;
  background-color: $zomp;
    .nav-link{
      color: $orange-yellow;
    }
    .nav-link:hover{
      background-color: $purple;
      border: 2px solid $orange-yellow;
      box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

    }
}
.signup-link {
  float: left;
}
.login-link{
  float: left;
}
.userName{
  float: left;
}

.logout-btn{
  margin-top: 5px;
  float: left;
}

// @media only screen and (max-width: 300px){
//   .fas{
//     display: none;
//   }




.Footer{
  display: flex;
  justify-content: space-around;
  width: 100%;
  background-color: $zomp;
  padding: 10px;
  .nav-link{
    color: $orange-yellow;
  }
  .nav-link:hover{
    background-color: $purple;
    border: 2px solid $orange-yellow;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

  }
}
.activeLink{
  background-color: $orange;
  border: 2px solid $purple;
  color: $purple !important;
}

.activeLink:hover{
  background-color: $orange-yellow !important;
}


.HomePage {

}

.AboutPage {

  .title{
    margin-top: 100px;
    color: black;
  }
}

.ContactPage{

}

.AppPage {

}
.SignUpPage{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
  .signup-form{
    margin-top: 50px;
  }
  .form-div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

}

.LoginPage{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
  .signup-form{
    margin-top: 50px;
  }
  .form-div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

}
.btn{
  background-color: $purple !important;
  border-color: $purple !important;
}
.btn:hover{
  background-color: $orange !important;
  border-color: $orange !important;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

}



.component-container{
  margin: 50px 0 50px 0;
}


.carousel-inner{
  margin-top: 100px;
}
.listings-container{
  margin-top: 100px;
}
